<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>

<% if(ops==='Mean'){ %>
    <form action="/Operations/tableMean" method="post" >
        <input type="number" name="variables" placeholder="enter number of columns"> 
        <input type="number" name="rows" placeholder="enter number of rows">
        <button type="submit">submit</button>
    </form>
    <p>mean</p>
    <form method="post" action="/meanValues">
    <table style="width:100%" >
   
        <tr>
          <% for(let i=0 ; i<col ;i++){ %>
          <th>Column <%= i+1%></th>
          <% for(let j=0 ; j<row ;j++){ %>
            <tr>
                 <td> <input type="number" name="arrayOfNumbers" placeholder="0" ></td>
             </tr>
           <%}%>
          <%}%>
        </tr>
        
      </table>
      <button type="submit">Calculate</button>
    </form>

   

<%}else if(ops==='STD'){%>
  <form action="/Operations/table" method="post" >
    <input type="number" name="variables" placeholder="enter number of columns"> 
    <input type="number" name="rows" placeholder="enter number of rows">
    <button type="submit">submit</button>
</form>
    <p>STD</p>
    <form method="post" action="/STDValues">
      <table style="width:100%" >
     
          <tr>
            <% for(let i=0 ; i<col ;i++){ %>
            <th>Column <%= i+1%></th>
            <% for(let j=0 ; j<row ;j++){ %>
              <tr>
                   <td> <input type="number" name="arrayOfNumbers" placeholder="0" ></td>
               </tr>
             <%}%>
            <%}%>
          </tr>
          
        </table>
        <button type="submit">Calculate</button>
      </form>
<%}else if(ops==='CHI'){%>
   <form action="/Operation/tableCHI" method="post" >
    <input type="number" name="variables" placeholder="enter number of columns"> 
    <input type="number" name="rows" placeholder="enter number of rows">
    <button type="submit">submit</button>
</form>
    <p>CHI</p>
    <form method="post" action="/CHIvalues">
      <table style="width:100%" >
     
          <tr>
            <% for(let i=0 ; i<col ;i++){ %>
            <th>Column <%= i+1%></th>
            <% for(let j=0 ; j<row ;j++){ %>
              <tr>
                   <td> <input type="number" name="arrayOfNumbers" placeholder="0" ></td>
               </tr>
             <%}%>
            <%}%>
          </tr>
         


        </table>
        <input type="hidden" name="r" value= "<%=row%>">
        <input type="hidden" name="c" value=<%= col%>>
        <button type="submit">Calculate</button>
      </form>
<%}%>
<%- include('../includes/footer.ejs') %>
